.m-price {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.m-price > * {
  display: inline-block;
  vertical-align: top;
}

.m-price.m-price--unavailable {
  visibility: hidden;
}

.m-price--end {
  text-align: right;
}

.m-price .m-price-item {
  display: inline-block;
  margin: 0 1rem 0 0;
}

.m-price__regular .m-price-item--regular {
  margin-right: 0;
}

.m-price:not(.m-price--show-badge) .m-price-item--last:last-of-type {
  margin: 0;
}

@media screen and (min-width: 750px) {
  .m-price {
    margin-bottom: 0;
  }
}

.m-price--large {
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.13rem;
}

@media screen and (min-width: 750px) {
  .m-price--large {
    font-size: 1.8rem;
  }
}

.m-price--sold-out .m-price__availability,
.m-price__regular {
  display: block;
}

.m-price__sale,
.m-price__availability,
.m-price .m-price__badge-sale,
.m-price .m-price__badge-sold-out,
.m-price--on-sale .m-price__regular,
.m-price--on-sale .m-price__availability {
  display: none;
}

.m-price--sold-out .m-price__badge-sold-out,
.m-price--on-sale .m-price__badge-sale,
.volume-pricing--sale-badge .m-price__badge-sale {
  display: inline-block;
}

.volume-pricing--sale-badge .m-price__badge-sale {
  margin-left: 0.5rem;
}

.m-price--on-sale .m-price__sale {
  display: initial;
  flex-direction: row;
  flex-wrap: wrap;
}

.m-price--center {
  display: initial;
  justify-content: center;
}

.m-price--on-sale .m-price-item--regular {
  text-decoration: line-through;
  color: rgba(var(--color-foreground), 0.75);
  font-size: 1.3rem;
}

.unit-price {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  line-height: calc(1 + 0.2 / var(--font-body-scale));
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: rgba(var(--color-foreground), 0.7);
}
